* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #07103D;
  overflow: hidden;
}

.text-top {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #ffffff;
}

.text-title {
  font-size: 28px;
}

.text-subtitle {
  font-size: 18px;
}

.game-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.screenStart,
.loading,
.img-signal {
  display: none;
  max-width: 150px;
  height: auto;
}

.screenStart.active,
.loading.active,
.img-signal.active {
  display: block;
}

.game-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.get-signal {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #003e85;
  color: #ffc400;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.game-here {
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #003e85;
  border-radius: 5px;
}
