* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: #07103D;
}

.decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.one-win {
  position: absolute;
  left: 5%;
  top: 5%;
  animation: tilt-shaking 0.3s infinite;
}

.two-win {
  position: absolute;
  top: 50%;
  left: 5%;
  animation: tilt-shaking 0.3s infinite;
}

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("assets/images/back.png");
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  text-stroke: 2px rgba(238, 169, 57);
  font-weight: 900;
  padding-bottom: 40px;
}

@font-face {
  font-family: 'Dudka';
  src: url('assets/ttf/Dudka.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.text-title {
  font-size: 5vw; /* Изменено */
  font-family: 'Dudka', sans-serif;
  margin-top: 2vw; /* Изменено */
}

.text-subtitle {
  font-size: 4vw; /* Изменено */
  font-family: 'Dudka', sans-serif;
}

.screen-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw; /* Изменено */
  margin-top: 10vw; /* Изменено */
}

.get-signal {
  font-size: 4vw; /* Изменено */
  font-weight: 900;
  text-align: center;
  border: none;
  color: #ffc400;
  width: 70vw;
  max-width: 286px;
  height: 10vw; /* Изменено */
  max-height: 66px;
  background-color: #003e85;
  cursor: pointer;
  box-shadow: 0px 0px 4vw #003e85; /* Изменено */
  border-radius: 2vw; /* Изменено */
  animation: pulse 2s infinite;
}

.get-signal:hover {
  box-shadow: 0px 0px 4vw #003e85;
}

.get-signal:active {
  transform: scale(0.95);
}

.game-here {
  font-size: 2.5vw; /* Изменено */
  font-weight: 900;
  text-align: center;
  padding-top: 2vw; /* Изменено */
  width: 20vw; /* Изменено */
  height: 6vw; /* Изменено */
  max-width: 136px;
  max-height: 41px;
  background-color: #003e85;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 4vw #003e85;
  border-radius: 2vw; /* Изменено */
  transition: 0.2s ease-in;
}

.game-here:hover {
  box-shadow: 0px 0px 0px #003e85;
}

.game-here:active {
  transform: scale(0.95);
}

/* Медиа-запросы для мобильных устройств */
@media screen and (max-width: 480px) {
  .text-top {
    padding-bottom: 10vw; /* Изменено */
  }

  .game-button {
    gap: 3vw; /* Изменено */
    margin-top: 5vw; /* Изменено */
  }

  .get-signal {
    font-size: 8vw; /* Изменено */
    height: 12vw; /* Изменено */
    box-shadow: 0px 0px 2vw #003e85; /* Изменено */
    border-radius: 1vw; /* Изменено */
  }

  .game-here {
    font-size: 3vw; /* Изменено */
    padding-top: 4vw; /* Изменено */
    width: 40vw; /* Изменено */
    height: 10vw; /* Изменено */
    border-radius: 1vw; /* Изменено */
  }
}
